
  <div class='panel panel-primary'>
    <div class='panel-body'>
      <div class="row">
        <div class='col-md-10 mx-auto'>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                About the Cubby
              </h5>
              <p class="card-text">
                  Welcome to the Lore Cubby! We are an actual play D&D 5e podcast hosted by six Canadian nerd-friends. Current campaign: homebrew realm in D&D 5e called Dranemar! Our five-person party consists of a feral tiefling druid, a young human cleric, a very bardish elven bard, a punny elven barbarian, and a bookish tiefling warlock! We’re so excited for you to start listening.
                  Thanks for checking us out!
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Intro/Outro Music
              </h5>
              <p class="card-text" [innerHTML]="musicDesc">
                <!-- Creative Commons Usage Legal Stuff-->
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contact Us</h5>
                <p class="card-text">We look forward to hearing from you! Feel free to send us an email us directly at <a href = "mailto: lorecubby@gmail.com">lorecubby@gmail.com</a></p>            
              
            </div>
          </div>
      </div>
    </div>
  </div>
</div>