
<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-center">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/episodes']">Episodes</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Legends</a>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" [routerLink]="['/characters']">Characters</a>
              <a class="dropdown-item" [routerLink]="['/world']">World</a>
              <!--<a class="dropdown-item" [routerLink]="['/npcs']">NPCs</a> -->
            </div>
        </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
        </li>
      <li>
        <a class="navbar-item" [routerLink]="['/home']"><img src="../assets/images/Logo/BannerLogo.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/hosts']">Hosts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">About Us</a>
      </li>
      <li class="nav-item">
        <!--Place Holder-->
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
    <!-- Social Media-->
    <div>
        <ul id="horizontal-list">
          <li><a href="https://twitter.com/LoreCubby"><i class="fab fa-twitter"></i></a></li>
          <li><a href="mailto: lorecubby@gmail.com"><i class="fas fa-envelope"></i></a></li>
          <li><a href="https://www.instagram.com/lorecubbypodcast"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <!-- Copyright -->
    <div>&copy; 2018 Copyright:
      <a href="http://joshrint.com"> joshrint.com</a>
      
    </div>
    <!-- Copyright -->
  
</div>


