/* You can add global styles to this file, and also import other style files */
html{ height:100%; }
body {
    /*Cambridge Blue*/
    /*background: #A4BAB7;*/
    /*Magic Mint*/
    background: #A2E8DD;
    /*Mummy's Tomb*/
    /*background: #7C9082;*/
    /*Off White*/
    /*background: #F6F4F3;*/
    /*Original*/
    /*background: #ced097;*/
    /*Tea Green*/
    /*background: #D0FCB3;*/
}
body{ 
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative; 
}
.title{
    font-family: 'VT323', monospace;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    color: #dcfdd0;
}